<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> K4R0N'S SEC VAULT </title>
  <link rel="stylesheet" href="/css/styles.css">
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navigation") %>

  <%- include("partials/menu") %>

  <div class="container">
    <div class="product">
      <img src="img/code.png" alt="Coding">
      <div class="product-details">
        <h2 class="product-title">Scripts</h2>
        <p class="product-description">Acceso a una colección de Scripts útiles.</p>
        <p class="product-price">9.99€</p>
      </div>
    </div>
    <button class="buy_button">Ver Scripts</button>
  </div>
  <canvas id="c"></canvas>

  <%- include("partials/fondo") %>

  <%- include("partials/footer") %>
</body>
</html>
