<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K4R0N'S SEC VAULT</title>
  <link rel="stylesheet" href="/css/styles.css">
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navigation") %>


  <%- include("partials/menu") %>

  <ul class="lista">
    <li class="/">Inicio</li>
    <li><a href="/rubber_ducky">Rubber Ducky</a></li>
    <li><a href="/code">Scripts</a></li>
  </ul>

  <img src="img/icon.png" alt="Icon" class="icon-image">


  <%- include("partials/fondo") %>

  <%- include("partials/footer") %>
</body>
</html>
