<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K4R0N'S SEC VAULT</title>
  <link rel="stylesheet" href="/css/styles.css">
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/navigation") %>

  <%- include("partials/menu") %>

  <div class="container">
    <div class="product">
      <img src="img/rubber_ducky.jpg" alt="USB Drive">
      <div class="product-details">
        <h2 class="product-title">USB Rubber Ducky</h2>
        <p class="product-description">Viene completamente programado y listo para usar</p>
        <p class="product-price">49.99€</p>
      </div>
    </div>
    <a href="https://es.wallapop.com/app/user/unknownu-p61o5q8xp5j5/published" class="buy_button">Ir a comprar</a>
  </div>
  
  <%- include("partials/fondo") %>

  <%- include("partials/footer") %>
</body>
</html>
